.buttons {
    display: flex;
    flex-direction: column;
    color:#F7F0E6;
    justify-content: center;
    gap: 3%;
}

.but-grid {
    display: flex;
    justify-content: center;
}

.title {
    color: #F7F0E6;
    display: flex;
    justify-content: center;
}

body {
    background-color: #CF2E2E;
}

button {
    background-color: #FFC857;
    color: white;
    width: 20%;
}

input {
    width: 20%;
}

label {
    width: 85%;
}

#grid {
    display: grid;
    width: 40vw;
    height: 40vw;
    background-color: #F7F0E6;
}

