.buttons {
    display: flex;
    justify-content: center;
    justify-content:space-between;
    flex-direction: column;
}

.title {
    color: #F7F0E6;
    display: flex;
    justify-content: center;
}

body {
    background-color: #CF2E2E;
}

button {
    background-color: #FFC857;
    color: white;
}

#grid {
    display: grid;
    max-width:650px;
    grid-template-columns: repeat(10, 65px);
    grid-template-rows: repeat(10, 65px);
    background-color: #F7F0E6;
    align-content: center;
    /* gap: 10px;
    border: 3px solid black; */
}

.grid-exterior {
    display: flex;
    justify-content: center;
}
